<div class="container">
    {% for name, messages in flash.getMessages() %}
        <div class="col-lg {{ name }} message">
            <i class="fa fa-eject"></i>
            <div class="header">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
