{% import 'app/macro/form.twig' as form %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    {% block stylesheets %}
      <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
      <link href="/assets/css/app.min.css" rel="stylesheet">
    {% endblock %}
  </head>
  <body id="page-top">
    <div id="wrapper">
      {% block navbar %}
        {% include 'app/_navbar.twig' %}
      {% endblock %}
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          {% block topbar %}
            {% include 'app/_topbar.twig' %}
          {% endblock %}
          <div class="container-fluid">
            {% block body %}{% endblock %}
          </div>
        </div>
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            {% block flash %}
              {% include 'app/_flash.twig' %}
            {% endblock %}
          </div>
        </footer>
      </div>
    </div>
    {% block javascript %}
      <script src="/assets/vendor/popper/popper.min.js"></script>
        <script src="/assets/vendor/jquery/jquery.min.js"></script>
      <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>
